body {
    background-color: lightgreen;

}

header { 
    display: flex;
    justify-content: space-between;
    list-style: none;   
    padding:0;
    margin:1rem ;

}

.menu{
    color: black;
}


.img{
    font-size: 50%;
    width: 50%;

}

.yoga{
    font-size: 30%;
    width: 30%;
}
.hiit{
    font-size: 30%;
    width: 30%;
}
.pilate{
    font-size: 30%;
    width: 30%;
}
.boxe {
     font-size: 30%;
    width: 30%;
}

.zumba {
    font-size: 30%;
    width: 30%;
}